# .env file to set up your node server

#
# Network name
#
# The network name must be the same name of your webproxy (proxy container)
#
NETWORK=webproxy

#
# Node server Container configuration
#
NODE_SERVER_CONTAINER_NAME=verdaccio


# Your domain (or domains)
DOMAINS=npm.yourdomain.name

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=youremail.com@outlook.com
